    /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

    /* GENERAL */

.container-header-footer {
    max-width: 1200px;
    margin: 0 auto;
}

.container-main {
    max-width: 1000px;
    margin: 0 auto;
}

.my-col-30 {
    width: 30%;
}

.my-col-70 {
    width: 70%;
}

img {
    max-width: 100%;
}

.btn-dropbox {
    padding: 12px 14px;
    background-color: #0061FF;
    color: white;
    border: none;
    font-size: 1rem;
}

    /* HEADER */


/* HEADER TOP */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header-top ul {
    display: flex;
}

.header-top ul li {
    list-style-type: none;
    margin-left: 40px;
}

.header-top ul li a {
    text-decoration: none;
    color: black;
}

.header-top > div:first-child {
    display: flex;
    align-items: center;
}

/* HEADER BOTTOM */

.header-bottom {
    background-color:#B4D0E7; 
    padding-top: 70px;
    height: 720px;
}

.header-bottom-jumbo {
    display: flex;
    padding-top: 30px;
}

.container-header-footer h1 {
    font-weight: 750;
    font-size: 5rem;
}

.header-bottom-jumbo i {
    font-weight: bolder;
    font-size: 3rem;
}

.header-bottom-description {
    padding-left: 5px;
}

.header-bottom-description .btn-dropbox {
    margin: 30px 0;
}

.header-bottom-description p,
.header-bottom-description a{
    margin-bottom: 80px;
    text-decoration: none;
    color: black;
}




