    /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

    /* GENERAL */

.container-header-footer {
    max-width: 1200px;
    margin: 0 auto;
}

.container-main {
    max-width: 1000px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

.my-col-30 {
    width: 30%;
}

.my-col-70 {
    width: 70%;
}

.my-col-60 {
    width: 60%;
}

.my-col-40 {
    width: 40%;
}

.col-1-3 {
    width: calc(100% / 3)
}


img {
    max-width: 100%;
}

.btn-dropbox {
    padding: 12px 14px;
    background-color: #0061FF;
    color: white;
    border: none;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.container-main h1 {
    font-size: 2.5rem;
    padding: 40px 0;
}

.small-line {
    width: 25%;
    margin: 50px 0;
    border: 1px solid gray;
    opacity: 0.3;
}

.section-1, .section-2, .section-3, .section-4, .section-5, .section-6, .section-7 {
    padding-top: 150px;
}

/* RADIO BUTTONS STYLING */

input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 50px;
    margin-right: 30px;
}

label span {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 5px;
    border-radius: 31px;
    transition: .25s ease;
}

label span:hover,
input[type="radio"]:checked + span {
    background-color: #d6d6e5;
}

label span:before {
    content: "";
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    transition: .25s ease-in-out;
    box-shadow: inset 0 0 0 1px grey;
}

input[type="radio"]:checked + span:before {
    box-shadow: inset 0 0 0 5px #0060FF;
}

.radio-buttons {
    padding-bottom: 50px;
}

    /* HEADER */


/* HEADER TOP */


.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header-top ul  {
    display: flex;
}

.header-top ul li {
    list-style-type: none;
    margin-left: 40px;
}


.header-top ul li a {
    text-decoration: none;
    color: black;
}

.header-top > div:first-child {
    display: flex;
    align-items: center;
}

#button-header {
    background-color:#0061FF;
    padding: 5px 15px;
    color: white;
}

#button-header a {
    color: white;
}

.flex-center {
    align-items: center;
}

/* HEADER BOTTOM */

.header-bottom {
    background-color:#B4D0E7;
}

.header-bottom-position {
    position: relative;
    top: 80px;
}

.header-bottom-jumbo {
    display: flex;
}

.container-header-footer h1 {
    font-weight: 750;
    font-size: 5rem;
    padding-bottom: 50px;
}

.header-bottom-jumbo i {
    font-weight: bolder;
    font-size: 3rem;
}

.header-bottom-description {
    padding-left: 5px;
}

.header-bottom-description .btn-dropbox {
    margin: 30px 0;
}

.header-bottom-description p,
.header-bottom-description a{
    margin-bottom: 80px;
    text-decoration: none;
    color: black;
}

    /* MAIN */

/* SECTION 1 */


.sub-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.90rem;
    font-weight: 500;
}

.sub-container > * {
    width: 30%;
    border: 1px solid lightgray;
}

.sub-container > :last-child {
    width: 100%;
    margin-top: 50px;
}

.sub-container > * .sub-title {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.sub-container > * .sub-body {
    padding: 30px;
}

.sub-container .sub-price {
    padding-bottom: 20px; 
}

.sub-container .sub-price > * {
    padding-bottom: 10px; 
}

.sub-container .sub-price p {
    color: grey;
}

.sub-container .sub-details *,
.sub-container .sub-details > ul > * {
    padding: 10px 0;

}

.sub-container .sub-details > ul {
    padding-left: 10px;
}

.sub-container .sub-price h3 {
    font-size: 1.5rem;
}

.sub-container .btn-dropbox {
    padding: 10px 0;
    font-size: 0.90rem;
}

.sub-container .sub-shop > * {
    margin-top: 25px;
}

.sub-container > div:last-child .sub-body {
    display: flex;
}

.sub-container > div:last-child .sub-body p {
    color: black;
    padding-top: 40px;
}

.sub-container .my-col-30 {
    text-align: right;
    padding-top: 10px;
}

.sub-container .my-col-30 .btn-dropbox {
    padding: 10px 20px;
}


/* SECTION 1 ICONS */

.sub-body .sub-details ul li:first-of-type {
    list-style-image: url(../img/user-solid.svg);
}

.sub-body .sub-details ul li:nth-child(2) {
    list-style-image: url(../img/folder-solid.svg);
}

.sub-body .sub-details ul li:last-of-type {
    list-style-image: url(../img/share-nodes-solid.svg);
}

.sub-body .sub-details.users ul li:first-of-type {
    list-style-image: url(../img/users-solid.svg);
}

.sub-body .check-icon.sub-details ul li {
    list-style-image: url(../img/check-solid.svg);
}


/* SECTION 2 */

.section-2 {
    display: flex;
}

.container-main .section-2 .my-col-40 {
    padding: 50px 50px;
}

.container-main .section-2 .my-col-40 h2 {
    margin-bottom: 20px;
}

.container-main .section-2 .my-col-40 button {
    margin-top: 30px;
    color: black;
    background-color: white;
    border: 1px solid black;
}

/* SECTION 3 */

.container-main .section-3 p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-3 .col-1-3 {
    padding: 0 25px;
}

.section-3 .my-row {
    margin: 0 -25px;
}

/* SECTION 4 */

.container-main .section-4 a {
    padding-top: 30px;
}

/* SECTION 5 */

.section-5 .big-box {
    width: 100%;
    display: flex;
}

.section-5 .square-box {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;

}

[class^="small-square"] {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-5 .square-box .small-square {  
    background-color:#A2D39B;  
    border: 15px solid #D1E9CD;
}
.section-5 .square-box .small-square2 {  
    background-color:#61082B;
}
.section-5 .square-box .small-square3 {   
    background-color:#0093CE;
}
.section-5 .square-box .small-square4 {  
    background-color:#FF1C1C;
}
.section-5 .center-box {
    background-color:#F5F5F5;
}
.section-5 .square-box .small-square5 {
    background-color:#D5001F; 
}
.section-5 .square-box .small-square6 {
    background-color:#B4D0E7;
}
.section-5 .square-box .small-square7 {
    background-color:#0D2481;
}
.section-5 .square-box .small-square8 {
    background-color:#FFD830;
}

img[src$=".svg"] {
    width: 50%;
    height: 50%;
    filter: invert(1);
}

#center-img {
    filter: none;
}

.section-5 .center-box {
    display: flex;
    padding: 0 40px;
    padding-bottom: 300px;
    overflow:auto;
}

.section-5 .center-box p{
    padding-bottom: 30px;
}

/* SECTION 6 */

.section-6 {
    padding: 75px 0;
    background-color: #B4D0E7;
}

.section-6 .contact-info {
    border: none;
    display: flex;
    align-items: baseline;
}

.section-6 .contact-info h1 {
    width: 65%;
    color: #61072A;
}

.section-6 .contact-info button {
    width: 100%;
    padding: 10px 25px;
    background-color: white;
    color: black;

}


/* SECTION 7 */

.section-7 .container-main div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    padding-right: 35px;
}

/* FOOTER */

footer {
    margin-top: 150px;
    background-color: black;
    color: white;
}

#footer-top {
    padding: 70px 0;
}

.footer-columns {
    display: flex;
}

.footer-columns > * {
    width: 20%;
}

.footer-columns > * ul {
    list-style: none;
}

.footer-columns > * ul li a {
    display: inline-block;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
}

.footer-columns > * h2 {
    padding-bottom: 20px;
}

#footer-bottom {
    padding-bottom: 40px;
}

footer .small-line {
    border: 1px solid grey;
    width: 10%;
    opacity: 1;
}

#footer-language {
    color: grey;
}

#footer-language > * {
    margin-right: 5px;
}

#footer-language .fa-sort-up {
    position: relative;
    top: 5px;
    right: 5px;
}



































